@model Model.ViewModels.FlashCard.VmFlashCard

@{
    ViewBag.Title = Model["Add Flash Cards"];
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using (Html.BeginForm("afc", "flashcard", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Front, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" cols="100" id="Front" name="Front" rows="4"></textarea>

                @Html.ValidationMessageFor(model => model.Front, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Back, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" cols="100" id="Back" name="Back" rows="4"></textarea>
                @Html.ValidationMessageFor(model => model.Back, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
